* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #121212;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 400px;
  padding: 25px;
  background-color: #1e1e1e;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(100, 68, 68, 0.2);
}
h1 {
  text-align: center;
}
